name: kuroshot
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  provider: ^6.1.5+1
  shared_preferences: ^2.5.4
  sqflite: ^2.3.0
  path: ^1.9.0
  file_picker: ^10.3.8
  uuid: ^4.5.2
  logger: ^2.6.2
  sqflite_common_ffi: ^2.4.0+1
  open_file: ^3.5.10
  pasteboard: ^0.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
